*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Plus Jakarta Sans;
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #080F17; 
    padding: 16px 48px;
    flex-wrap: wrap;
  }
  
  .logo {
    font-size: 2.9vh;
    color: #D6DDE6; 
    font-weight: bold;
  }  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2.2vw;
  }
  
  .nav-links a {
    text-decoration: none;  /* to remove underlines from a tag links */
    color: #e0e0e0; 
    font-size: 2.4vh;
    transition: all 0.5s ease;
  }
  
  .nav-links a:hover {
    color: #ffffff;
  }
  
  
  nav{
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);  
  }


  body{
    background-color: #080F17;
  
  }

  .welcome{
    height: 100%;

    padding: 4.8vh 5vw;
  }

  .welcome p{
    
    font-size: 9vh;
    width: 100%;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    color: #D6DDE6;
    
}

.welcome img{
    width: 100%;
    border-radius: 36px;
}

.projects-9 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 24px;
  justify-content: center; 
  padding: 0 5vw;
  padding-bottom: 5vh;
  margin: 0 auto;
}

.item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.item img {
  width: 100%; 
  height: auto; 
  margin: 0 auto; 
}



.top-para {
  font-size: 2vh;
  font-weight: 600;
  color: rgba(214, 221, 230, 1);
  margin: 0; 
  text-align: start;
}

.bottom-para {
  font-size: 1.5vh;
  font-weight: 400;
  color: rgba(214, 221, 230, 0.62); 
  margin: 0;
  text-align: start;
}
.portfolio-writing{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding : 0 48px;
  justify-content: center;
  
}

.text{
  color: #D6DDE6;
  font-size: 3vh;
  line-height: 3.9vh;
  font-weight: 500;
  margin-bottom: 5vh;

}


.container {
  margin-top: 1vh;
  position: relative;
  height: 70vh;
  background-image: url(images/pic2.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
 
}

.content {
  color: #D6DDE6;
  text-align: left;
 
  padding: 6vh 4vw;
  border-radius: 10px;
}

.content h1 {
  font-size: 4vh;
  margin-bottom: 2vh;
}

.content p {
  font-size: 2.1vh;
  font-weight: 500;
  margin-bottom: 3vh;
  line-height: 1.6;
}

.project-button {
  font-size: 1.7vh;
  padding: 10px 20px;
  background-color: rgba(8, 15, 23, 1);
  color: #D6DDE6;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}



.project-button:hover {
  background-color: #D6DDE6;
  color: rgba(8, 15, 23, 1);
  transform: scale(1.05);
}

.impact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 48px ;
  gap: 1vh;
}

.analytics{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1vw;
}


.impact-text{
  font-size: 3vh;
  color: #D6DDE6;
  font-weight: bold;

}

.top-text{
  font-size: 4.9vh;
  font-weight: bold;
  margin-bottom: 0px;
  color: #D6DDE6;
  border-top: 1.5px solid rgba(214, 221, 230, 0.2);
}

.bottom-text{
  font-size: 2vh;
  font-weight: 500;
  margin-bottom: 0px;
  color: #D6DDE6;
}




.contact-me {
  color: #D6DDE6;
  padding-top: 20vh;
  text-align: center; 
}

.contact-me-text {
  text-align: center;
  font-weight: bold;
  font-size: 3vh;
  margin-bottom: 2vh;
}

.contact-me-input {
  display: flex;
  justify-content: center;
  gap: 1.2vw;
}

.cmi {
  border: 1.5px solid rgba(255, 255, 255, 0.2); 
  color: rgba(255, 255, 255, 0.8); 
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 2vh;
  text-align: center;
  
}

.contact-me-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
  margin-top: 2vh;
}

.contact-me-submit button {
  background-color: rgba(167, 238, 67, 1); 
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1.6vh;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-me-submit button:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(167, 238, 67, 0.5); 
}

.contact-me-skip {
  
  color: rgba(193, 241, 126, 1);
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.6vh;
  cursor: pointer;
  transition: transform 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me-skip:hover {
  transform: scale(1.1);
}


footer{
  display: flex;
  justify-content: space-between;
  padding: 96px 48px 8px 48px;

  
}
.footer-text{
  color: #d6dde69e;
  font-weight: 500;
 
}


.contact-button {
  color: #D6DDE6;
  border: 1.5px solid rgba(214, 221, 230, 0.2);
  border-radius: 8px;
  padding: 8px 16px; 
  font-size: 1.5vh;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-button:hover {
  background-color: rgba(214, 221, 230, 0.1);
  transform: scale(1.05); 
}


